<b><font size="6">Predictive Modelling Pipeline Template</font></b><br><br>

In this notebook we present to you the main steps you should follow throughout your project.


<b> Important: The numbered sections and subsections are merely indicative of some of the steps you should pay attention to in your project. <br>You are not required to strictly follow this order or to execute everything in separate cells.</b>
    
<img src="image/process_ML.png" style="height:70px">

In [224]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

<a class="anchor" id="">

# 1. Import data (Data Integration)

</a>

<img src="image/step1.png" style="height:60px">

In [233]:
# Load the data
obesity_train_raw = pd.read_csv('../data/obesity_train.csv')
obesity_test_raw = pd.read_csv('../data/obesity_test.csv')

In [234]:
obesity_train_raw.head(10)

,id,age,alcohol_freq,caloric_freq,devices_perday,eat_between_meals,gender,height,marrital_status,meals_perday,...,parent_overweight,physical_activity_perweek,region,siblings,smoke,transportation,veggies_freq,water_daily,weight,obese_level
0,1,21.0,Never,no,up to 5,Sometimes,Female,1.62,NaN,3.0,...,yes,NaN,LatAm,3.0,no,Public,Sometimes,1 to 2,64.0,Normal_Weight
1,2,23.0,Frequently,no,up to 5,Sometimes,Male,1.80,NaN,3.0,...,yes,3 to 4,LatAm,0.0,no,Public,Sometimes,1 to 2,77.0,Normal_Weight
2,3,NaN,Frequently,no,up to 2,Sometimes,Male,1.80,NaN,3.0,...,no,3 to 4,LatAm,2.0,no,Walk,Always,1 to 2,87.0,Overweight_Level_I
3,4,22.0,Sometimes,no,up to 2,Sometimes,Male,1.78,NaN,1.0,...,no,NaN,LatAm,3.0,no,Public,Sometimes,1 to 2,90.0,Overweight_Level_II
4,5,22.0,Sometimes,no,up to 2,Sometimes,Male,1.64,NaN,3.0,...,no,5 or more,LatAm,3.0,no,Public,Sometimes,1 to 2,53.0,Normal_Weight
5,6,24.0,Frequently,yes,up to 5,Sometimes,Male,1.78,NaN,3.0,...,yes,1 to 2,LatAm,2.0,no,Public,Always,1 to 2,64.0,Normal_Weight
6,7,21.0,Sometimes,yes,up to 5,Frequently,Female,1.72,NaN,3.0,...,yes,3 to 4,NaN,2.0,no,Public,Sometimes,1 to 2,80.0,Overweight_Level_II
7,8,22.0,Sometimes,no,up to 2,Sometimes,Male,1.65,NaN,3.0,...,no,3 to 4,LatAm,1.0,no,Public,Always,more than 2,56.0,Normal_Weight
8,9,41.0,Frequently,yes,up to 5,Sometimes,Male,1.80,NaN,3.0,...,no,3 to 4,LatAm,0.0,no,Car,Sometimes,1 to 2,99.0,Obesity_Type_I
9,10,27.0,Sometimes,yes,up to 2,Sometimes,Male,1.93,NaN,1.0,...,yes,1 to 2,LatAm,2.0,no,Public,Sometimes,less than 1,102.0,Overweight_Level_II

In [235]:
obesity_test_raw.head(10)

,id,age,alcohol_freq,caloric_freq,devices_perday,eat_between_meals,gender,height,marrital_status,meals_perday,monitor_calories,parent_overweight,physical_activity_perweek,region,siblings,smoke,transportation,veggies_freq,water_daily,weight
0,1612,21.0,Sometimes,no,up to 2,Sometimes,Female,1.52,NaN,3.0,yes,yes,5 or more,LatAm,3.0,yes,Public,Always,more than 2,56.0
1,1613,29.0,Sometimes,yes,up to 2,Sometimes,Male,1.62,NaN,3.0,no,no,NaN,LatAm,3.0,no,Car,Sometimes,1 to 2,53.0
2,1614,23.0,Sometimes,NaN,up to 2,Sometimes,Female,1.50,NaN,3.0,no,yes,1 to 2,LatAm,2.0,no,Motorbike,Always,1 to 2,NaN
3,1615,22.0,Never,yes,up to 5,Sometimes,Male,1.72,NaN,3.0,no,yes,1 to 2,LatAm,1.0,no,Public,Sometimes,1 to 2,68.0
4,1616,26.0,Sometimes,yes,more than 5,Frequently,Male,1.85,NaN,3.0,no,yes,3 to 4,LatAm,1.0,no,Public,Always,more than 2,105.0
5,1617,23.0,Sometimes,yes,up to 5,Sometimes,Male,1.77,NaN,1.0,no,yes,1 to 2,LatAm,2.0,no,Public,Always,less than 1,60.0
6,1618,22.0,Sometimes,no,up to 5,Always,Female,1.70,NaN,3.0,yes,yes,3 to 4,LatAm,1.0,no,Public,Always,1 to 2,NaN
7,1619,29.0,Never,yes,up to 2,Sometimes,Female,1.53,NaN,1.0,no,no,NaN,LatAm,0.0,no,Car,Sometimes,1 to 2,78.0
8,1620,30.0,Never,yes,up to 2,Frequently,Female,1.71,NaN,4.0,no,yes,NaN,LatAm,0.0,yes,Car,Always,less than 1,82.0
9,1621,23.0,Sometimes,yes,up to 5,Frequently,Female,1.60,NaN,4.0,no,no,3 to 4,LatAm,3.0,no,Car,Sometimes,1 to 2,52.0

<a class="anchor" id="">

# 2. Explore data (Data access, exploration and understanding)

</a>

<img src="image/step2.png" style="height:60px">

Remember, this step is very important as it is at this stage that you will really look into the data that you have. Generally speaking, if you do well at this stage, the following stages will be very smooth.

Moreover, you should also take the time to find meaningful patterns on the data: what interesting relationships can be found between the variables and how can that knowledge be inform your future decisions.

In [236]:
# Display information about the training dataset
obesity_train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1611 non-null   int64
 1   age                        1545 non-null   float64
 2   alcohol_freq               1575 non-null   object
 3   caloric_freq               1591 non-null   object
 4   devices_perday             1589 non-null   object
 5   eat_between_meals          1552 non-null   object
 6   gender                     1591 non-null   object
 7   height                     1597 non-null   float64
 8   marrital_status            0 non-null      float64
 9   meals_perday               1602 non-null   float64
 10  monitor_calories           1572 non-null   object
 11  parent_overweight          1591 non-null   object
 12  physical_activity_perweek  1046 non-null   object
 13  region                     1544 non-null   object
 14  siblings                   1599 non-null   float64
 15  smoke                      1599 non-null   object
 16  transportation             1571 non-null   object
 17  veggies_freq               1585 non-null   object
 18  water_daily                1577 non-null   object
 19  weight                     1558 non-null   float64
 20  obese_level                1611 non-null   object
dtypes: float64(6), int64(1), object(14)
memory usage: 264.4+ KB

<a class="anchor" id="">

# 3. Modify data (Data preparation)

</a>

<img src="image/step3.png" style="height:60px">

Use this section to apply transformations to your dataset.

Remember that your decisions at this step should be exclusively informed by your **training data**. While you will need to split your data between training and validation, how that split will be made and how to apply the approppriate transformations will depend on the type of model assessment solution you select for your project (each has its own set of advantages and disadvantages that you need to consider). **Please find a list of possible methods for model assessment below**: 

1. **Holdout method**
2. **Repeated Holdout method**
3. **Cross-Validation**

__Note:__ Instead of creating different sections for the treatment of training and validation data, you can make the transformations in the same cell. There is no need to create a specific section for that.

### 3.1. Data Preparation

In [237]:
# Drop the 'marrital_status' and 'region' columns from the dataset
obesity_train = obesity_train_raw.drop(columns=['marrital_status', 'region'])
obesity_test = obesity_test_raw.drop(columns=['marrital_status', 'region'])

In [241]:
# Create categorical columns
ordinal_encoder = OrdinalEncoder(encoded_missing_value=-1)

columns = ['monitor_calories', 'parent_overweight', 'smoke', 'gender', 'alcohol_freq', 'caloric_freq', 'eat_between_meals', 'veggies_freq', 'devices_perday', 'physical_activity_perweek', 'transportation', 'water_daily']

for column in columns:
    obesity_train[column] = ordinal_encoder.fit_transform(obesity_train[column].values.reshape(-1, 1))
    
    obesity_test[column] = ordinal_encoder.transform(obesity_test[column].values.reshape(-1, 1))

In [242]:
obesity_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1611 non-null   int64
 1   age                        1611 non-null   float64
 2   alcohol_freq               1611 non-null   float64
 3   caloric_freq               1611 non-null   float64
 4   devices_perday             1611 non-null   float64
 5   eat_between_meals          1611 non-null   float64
 6   gender                     1611 non-null   float64
 7   height                     1611 non-null   float64
 8   meals_perday               1611 non-null   float64
 9   monitor_calories           1611 non-null   float64
 10  parent_overweight          1611 non-null   float64
 11  physical_activity_perweek  1611 non-null   float64
 12  siblings                   1611 non-null   float64
 13  smoke                      1611 non-null   float64
 14  transportation             1611 non-null   float64
 15  veggies_freq               1611 non-null   float64
 16  water_daily                1611 non-null   float64
 17  weight                     1611 non-null   float64
 18  obese_level                1611 non-null   object
dtypes: float64(17), int64(1), object(1)
memory usage: 239.3+ KB

In [243]:
# fill missing values with -1
obesity_train.fillna(-1, inplace=True)
obesity_test.fillna(-1, inplace=True)

In [257]:
obesity_train.head(10)

,id,age,alcohol_freq,caloric_freq,devices_perday,eat_between_meals,gender,height,meals_perday,monitor_calories,parent_overweight,physical_activity_perweek,siblings,smoke,transportation,veggies_freq,water_daily
0,1,21.0,3.0,1.0,3.0,4.0,1.0,1.62,3.0,1.0,2.0,0.0,3.0,1.0,4.0,3.0,1.0
1,2,23.0,2.0,1.0,3.0,4.0,2.0,1.80,3.0,1.0,2.0,2.0,0.0,1.0,4.0,3.0,1.0
2,3,-1.0,2.0,1.0,2.0,4.0,2.0,1.80,3.0,1.0,1.0,2.0,2.0,1.0,5.0,1.0,1.0
3,4,22.0,4.0,1.0,2.0,4.0,2.0,1.78,1.0,1.0,1.0,0.0,3.0,1.0,4.0,3.0,1.0
4,5,22.0,4.0,1.0,2.0,4.0,2.0,1.64,3.0,1.0,1.0,3.0,3.0,1.0,4.0,3.0,1.0
5,6,24.0,2.0,2.0,3.0,4.0,2.0,1.78,3.0,1.0,2.0,1.0,2.0,1.0,4.0,1.0,1.0
6,7,21.0,4.0,2.0,3.0,2.0,1.0,1.72,3.0,2.0,2.0,2.0,2.0,1.0,4.0,3.0,1.0
7,8,22.0,4.0,1.0,2.0,4.0,2.0,1.65,3.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,3.0
8,9,41.0,2.0,2.0,3.0,4.0,2.0,1.80,3.0,1.0,1.0,2.0,0.0,1.0,2.0,3.0,1.0
9,10,27.0,4.0,2.0,2.0,4.0,2.0,1.93,1.0,1.0,2.0,1.0,2.0,1.0,4.0,3.0,2.0

### 3.2. Feature Engineering

### 3.3. Scaling

### 3.4. Feature Selection

<a class="anchor" id="">

# 4 & 5. Model & Assess (Modelling and Assessment)

</a>

<img src="image/step4.png" style="height:60px">

### 4.1. Model Selection

In this section you should take the time to train different predictive algorithms with the data that got to this stage and **use the approppriate model assessment metrics to decide which model you think is the best to address your problem**.

**You are expected to present on your report the model performances of the different algorithms that you tested and discuss what informed your choice for a specific algorithm**

### 4.2. Model Optimization

After selecting the best algorithm (set of algorithms), you can try to optimize the performance of your model by fiddling with the algorithms' hyper-parameters and select the options that result on the best overall performance.

Possible ways of doing this can be through:
1. [GridSearch](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)
2. [RandomSearch](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html)

**While you are not required to show the results of all combinations of hyperparameters that you tried, you should at least discuss the what were the possible combinations used and which of them resulted in your best performance**

<a class="anchor" id="">

# 5. Deploy

</a>

<img src="image/step5.png" style="height:60px">

### 5.0 Training a final model

You used the previous steps of modelling and assessment to determine what would be best strategies when it comes to preprocessing, scaling, feature selection, algorithm and hyper-parameters you could find. 

**By this stage, all of those choices were already made**. For that reason, a split between training and validation is no longer necessary. **A good practice** would be to take the initial data and train a final model with all of the labeled data that you have available.

**Everything is figured by this stage**, so, on a first level all you need to do is replicate the exact preprocessing, scaling and feature selection decisions you made before.<br>
When it comes to the final model, all you have to do is creeate a new instance of your best algorithm with the best parameters that you uncovered (no need to try all algorithms and hyper-parameters again).

### 5.1. Import and Transform your test data

Remember, the test data does not have the `outcome` variable.

### 5.2. Obtain Predictions on the test data from your final model

### 5.3. Create a Dataframe containing the index of each row and its intended prediction and export it to a csv file

Submit the csv file to Kaggle to obtain the model performance of your model on the test data.